<p><%= @user.name.capitalize %>,</p>

<p>Challenge Accepted !</p>
<p><%= @sender.name.capitalize %> has accepted your challenge to a Emily's Secret forfeit.</p>
<p><%= @sender.gender == "male" ? "He" : "She" %> accepted the following forfeit </p>

<strong>"<%= @forfeit %>"</strong>