<p><%= @user.name.capitalize %>,</p>

<p>Time to try something different!</p>
<p><%= @sender.name.capitalize %> has challenged you to a Emily’s Secret forfeit.</p>
<p>Perform the following forfeit to <%= @sender.gender == "male" ? "him" : "her" %></p>

<strong>"<%= @forfeit %>"</strong>